@model User

@{
    ViewData["Title"] = "Edit User";
}

<form id="user-edit" asp-controller="User" asp-action="Edit" method="post" class="form" enctype="multipart/form-data">


    <br />
    <br />
    <span>
        <label class="control-label">Pic</label>
        <input type="file" name="pic" class="" />
    </span>
    <br />
    <br />
    <span>
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
        <span asp-validation-for="FirstName"></span>
    </span>

    <span>
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" value="@Model.LastName" />
        <span asp-validation-for="LastName"></span>
    </span>
    <br />
    <br />
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
    <span>
        <label asp-for="Bio" class="control-label"></label>
        <textarea asp-for="Bio" class="ckedit-textarea"></textarea>

        <script type="text/javascript">
            ClassicEditor.create(document.querySelector('#Bio'), {
                ckfinder: {
                    uploadUrl: '@{Html.Raw(Model.Bio);}'
                },
                toolbar: [ 'bold', 'italic', 'bulletedList', 'numberedList', 'link']
            })
            .catch(error => {
                console.error(error);
            });
        </script>
        <span asp-validation-for="Bio"></span>
    </span>
    <br />
    <br />
    <span>
        <label asp-for="EduExp" class="control-label"></label>
        <textarea asp-for="EduExp" class="ckedit-textarea"></textarea>
        <script type="text/javascript">
            ClassicEditor.create(document.querySelector('#EduExp'), {
                ckfinder: {
                    uploadUrl: '@{Html.Raw(Model.EduExp);}'
                },
                toolbar: [ 'bold', 'italic', 'bulletedList', 'numberedList', 'link']
            })
            .catch(error => {
                console.error(error);
            });
        </script>
    </span>
    <br />
    <br />
    <span>
        <label asp-for="JobExp" class="control-label"></label>
        <textarea asp-for="JobExp" class="ckedit-textarea"></textarea>
        <script type="text/javascript">
            ClassicEditor.create(document.querySelector('#JobExp'), {
                ckfinder: {
                    uploadUrl: '@{Html.Raw(Model.JobExp);}'
                },
                toolbar: [ 'bold', 'italic', 'bulletedList', 'numberedList', 'link']
            })
            .catch(error => {
                console.error(error);
            });
        </script>

    </span>

    @Html.HiddenFor(x => x.Id)

    <input type="submit" class="btn btn-primary" value="Submit" />

</form>