@model UserOverviewViewModel
@{
    ViewData["Title"] = Model.FullName;
}
<div id="user-index">
    <div class="overview">
        <h1>@Model.FullName</h1>
        <h6>Posts: @Model.PostCount</h6>
        <h6>Followers: @Model.FollowerCount</h6>
        <h6>Following: @Model.FollowingCount</h6>
    </div>
