body {
}
#HomeIndex, #RSSFeedIndex
{
    padding-top: 1em;
}
.post, .feeditem
{
    width:500px;
    margin:0 auto 1em;
    padding:1em;
    border:1px solid lightgray;
    border-radius:0.25em;
}
    .post .time, .feeditem .time
    {
        font-size:0.875em;
    }
    .post .name, .feeditem .title
    {
        font-size:1.25em;
        font-weight:bold;
    }
    .feeditem .title a 
    {
        color:red;
    }
#user-index .info
{
    font-size:1.125em;
}
    #user-index .info label {
        font-size: 0.75em;
        text-transform:uppercase;
    }
    #user-index .info b
    {
        font-size:1.75em;
    }

#followers article h4, #followers article h5
{
    display:inline-block;
}
.search-box
{
    margin-top:0.6em;
}
#create-rss 
{
    border-radius: 1em;
    border:solid 1px lightgray;
    padding:0;
}
#create-rss h2
{
    background-color:darkgray;
    color:white;
}