@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address input type="text" size="30" style="text-align: left">

    Email Addresses:<br />
    <strong>Name: </strong>Ethan Rhodes <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email:</strong> <a href="mailto:erhodes7@wvup.edu">erhodes7@wvup.edu</a><br />
    <strong>Name: </strong>Jeremi Swann <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email:</strong> <a href="mailto:jswann1@wvup.edu">jswann1@wvup.edu</a><br />
    <strong>Name: </strong>Brady Starcher <strong>&nbsp;&nbsp;&nbsp;&nbsp; Email:</strong> <a href="mailto:bstarch1@wvup.edu">bstarch1@wvup.edu</a><br />

</address>


