@model IList<Message>
@{
    ViewData["Title"] = "Messages";
}
<h2>@ViewData["Title"]</h2>
<section class="message-inbox">
    @foreach(Message item in Model)
    {
        User oppositeUser = item.ReceiverId == ViewBag.UserId ? item.Sender : item.Receiver;
        string oppositeUserFullName = oppositeUser.FirstName + " " + oppositeUser.LastName;
        <article>
            <a asp-action="Thread" asp-route-recipient="@oppositeUser.Id">
                @oppositeUserFullName
            </a>

        </article>
    }
</section>