@model Rss
@{
    ViewData["Title"] = "Add RSS";
}

<div id="create-rss">
    <h4>@ViewData["Title"] <a class="btn btn-warning" href="rss-howto.html" target="_blank">How-to</a></h4>
    <form id="rss-form" asp-controller="Rss" asp-action="Make" method="post" class="">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="">
            <input asp-for="Url" placeholder="RSS Url..." class="form-control control-label" type="text" />
            <span asp-validation-for="Url" class="text-danger"></span>
            @Html.HiddenFor(x => x.UserId)
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
    </form>
</div>
